<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'reservation/custom.css'%}">
</head>


<body>
    <div class="container">

        <div class="row text-center" style="padding-top:10px">
            <div class="col">
                <a href="{%url 'index'%}"><img src="{%static 'reservation/logo.png'%}" width="70" height="70">

                </a>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center"
                    style="margin-left:250px">
                    <div class="collapse navbar-collapse p-0 mb-n4" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active pr-5 mr-5 ">
                                <a class="nav-link" href="#">강의 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item  pr-5 mr-5">
                                <a class="nav-link" href="#">예약하기</a>
                            </li>
                            <li class="nav-item  pr-5 mr-5">
                                <a class="nav-link" href="#">게시판</a>
                            </li>
                            <li class="nav-item  pr-5 mr-5">
                                <a class="nav-link" href="#">행사</a>
                            </li>
                        </ul>
                    </div>
                </nav>


            </div>
        </div>
    </div>
    <!-- logo, navbar container end-->
    <hr>
    <div class="container" style="width:1000px">
        <div class="row">
            <div class="col px-2 mt-5">
                <h2>강의 </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <span class="badge badge-light  mt-3 mb-2 ml-2">미수강</span>
                <span class="badge badge-secondary  mt-3 mb-2 ml-2">자소서닷컴</span>
                <h5 class="mb-3 ml-2"> 글자수 세기</h5>


            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr>
                <span class="badge badge-light  mt-3 mb-2 ml-2">미수강</span>
                <span class="badge badge-secondary  mt-3 mb-2 ml-2">자소서닷컴</span>
                <h5 class="mb-3 ml-2"> 글자수 세기</h5>


            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <span class="badge badge-light  mt-3 mb-2 ml-2">미수강</span>
                <span class="badge badge-secondary  mt-3 mb-2 ml-2">자소서닷컴</span>
                <h5 class="mb-3 ml-2"> 글자수 세기</h5>


            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <span class="badge badge-light  mt-3 mb-2 ml-2">미수강</span>
                <span class="badge badge-secondary  mt-3 mb-2 ml-2">자소서닷컴</span>
                <h5 class="mb-3 ml-2"> 글자수 세기</h5>


            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <span class="badge badge-light  mt-3 mb-2 ml-2">미수강</span>
                <span class="badge badge-secondary  mt-3 mb-2 ml-2">자소서닷컴</span>
                <h5 class="mb-3 ml-2"> 글자수 세기</h5>


            </div>
        </div>


    </div>


    {%block content%}
    {%endblock%}
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>


</html>